*{
    margin: 0px;
    padding: 0px;

    font-family: Solis, Arial, Helvetica, sans-serif;

    font-size: 18px;
    color: white;

    width: 100%;

    align-self: center;
    justify-self: center;
    text-decoration: none;
}
#root{
    width: 100vw;
    height: 100vh;

    background-color: rgb(14, 14, 14);
}
.page-container{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: auto auto auto;
}


/* TOP CONTAINER */
.top-container{
    grid-row: 1;
    height: 15vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
input{
    width: 20vw;
    grid-row: 1;
    grid-column: 1;

    color: black;
}
.my-location{
    grid-row: 2;
    grid-column: 1;
    width: 20vw;
}
.my-location *{
    color: black;
}
button{
    cursor: pointer;
}
.button[disabled]{
    pointer-events: none;
    opacity: 0.8;
    cursor: default;
}


/* MIDDLE CONTAINER  */
.middle-container{
    grid-row: 2;
    height: 35vh;
    width: 60vw;

    background-color: rgba(0, 0, 0, 0.694);

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.today-left{
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#current-weather{
    grid-row: 1;
    grid-column: 1 / span 2;
}
#time{
    grid-row: 2;
    grid-column: 1 / span 2;
}
#weather-img{
    grid-row: 3 / span 5;
    grid-column: 1;

    height: 60px;
    width: 60px;

}
#temp{
    grid-row: 3 / span 4;
    grid-column: 2;
}
#real-feel{
    grid-row: 5;
    grid-column: 2;
}
#overcast{
    grid-row: 6;
    grid-column: 1 / span 2;

    text-transform: capitalize;
}

.today-right{
    grid-column: 2;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
#air-quality{
    grid-row: 3;
    grid-column: 1;
}
#air-quality-data{
    grid-row: 3;
    grid-column: 2;
}
#wind{
    grid-row: 4;
    grid-column: 1;
}
#wind-data{
    grid-row: 4;
    grid-column: 2;
}
#wind-gusts{
    grid-row: 5;
    grid-column: 1;
}
#wind-gusts-data{
    grid-row: 5;
    grid-column: 2;
}


/* BOTTOM CONTAINER */
.bottom-container{
    grid-row: 3;
    height: 40vh;

    display: grid;
    grid-template-rows: 1fr 3fr;
}

nav{
    grid-row: 1;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
nav ul{
    list-style-type: none;
    width: 100vw;
    
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;

}
nav *{
    display: inline;
    cursor: pointer;
    text-align: center;
    text-justify: center;

    width: 100%;

}
nav * li:hover{
    text-decoration: underline orange;
}

.switch-container{
    grid-row: 2;
    height: 100%;
    overflow: hidden;

    display: grid;

    margin-bottom: 2vh;

}
.hourly-container{
    cursor:grab;
    height: 100%;
    width: 90%;
    background-color: rgb(29, 29, 29);

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(24, auto);
}
.hourly-container:active{
    cursor: grabbing;
}
.hourly-subcontainer *{

    text-align: center;
    text-justify: center;
}
.hourly-subcontainer{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(14, 14, 14);

    margin-top: 8px;
}
.hourly-subcontainer img{
    height: 100px;
    width: 100px;
}
.hourly-description{
    text-transform: capitalize;
}

.daily-container{
    background-color: rgb(29, 29, 29);
    height: 100%;
    width: 70vw;
    cursor: grab;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, auto);

    overflow-y: scroll;
}
.daily-container:active{
    cursor: grabbing;
}
.daily-subcontainer{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 8px;

    background-color: rgb(14, 14, 14);
}
.daily-subcontainer *{
    text-align: center;
    text-justify: center;
}
.daily-date{
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr;
}
.daily-container * img{
    height: 100px;
    width: 100px;
}
.daily-max-min{
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
}
.daily-max{
    font-size: 40px;
    font-weight: 500;
}
.daily-description{
    text-transform: capitalize;
}