*{
    margin: 0px;
    padding: 0px;

    font-family: Solis, Arial, Helvetica, sans-serif;

    font-size: 22px;
    color: white;

    width: 100%;

    align-self: center;
    justify-self: center;
    text-decoration: none;
}
#root{
    width: 100vw;
    height: 100vh;

    background-color: rgb(14, 14, 14);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 85vh;
}
.body-container{
    grid-row: 2;
    grid-column: 1 / span 2;

    height: 85vh;
    width: 100vw;
}
.delete-soon{
    display: none;
}

/*NAV*/
nav{
    grid-row: 1;
    grid-column: 1;
    
    height: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
nav ul{
    list-style-type: none;
    
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    width: 50vw;
}
nav *{
    display: inline;
    cursor: pointer;
    text-align: center;
    text-justify: center;

    width: 100%;

}
nav * li:hover{
    text-decoration: underline orange;
}

.input-findloc{
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
input{
    width: 50%;
    grid-row: 1;
    grid-column: 1;

    color: black;
}
.my-location{
    grid-row: 1;
    grid-column: 2;
    width: 50%;
}
.my-location *{
    color: black;
}

/*TODAY*/
.today-container{
    height: 100%;    
    width: 100%;
    background-color: rgb(29, 29, 29);

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.today-left{
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#current-weathar{
    grid-row: 1;
    grid-column: 1 / span 2;
}
#time{
    grid-row: 2;
    grid-column: 1 / span 2;
}
#weather-img{
    grid-row: 3 / span 5;
    grid-column: 1;

    height: 240px;
    width: 240px;
}
#temp{
    grid-row: 3 / span 4;
    grid-column: 2;
}
#real-feel{
    grid-row: 5;
    grid-column: 2;
}
#overcast{
    grid-row: 6;
    grid-column: 1 / span 2;
}

.today-right{
    grid-column: 2;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
#air-quality{
    grid-row: 3;
    grid-column: 1;
}
#air-quality-data{
    grid-row: 3;
    grid-column: 2;
}
#wind{
    grid-row: 4;
    grid-column: 1;
}
#wind-data{
    grid-row: 4;
    grid-column: 2;
}
#wind-gusts{
    grid-row: 5;
    grid-column: 1;
}
#wind-gusts-data{
    grid-row: 5;
    grid-column: 2;
}


/*HOURLY*/
.hourly-container{
    height: 100%;
    background-color: rgb(29, 29, 29);
    

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, auto);

    overflow-y: scroll;
}
.hourly-subcontainer *{

    text-align: center;
    text-justify: center;
}

.hourly-subcontainer{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(14, 14, 14);

    margin-top: 8px;
}
.hourly-subcontainer img{
    height: 100px;
    width: 100px;
}

/*DAILY*/
.daily-container{
        background-color: rgb(29, 29, 29);
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, auto);

    overflow-y: scroll;
}

.daily-subcontainer{
    width: 80%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 8px;

    background-color: rgb(14, 14, 14);
}

.daily-subcontainer *{
    text-align: center;
    text-justify: center;
}

.daily-date{
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr;
}

.daily-container * img{
    height: 100px;
    width: 100px;
}

.daily-max-min{
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
}

.daily-max{
    font-size: 40px;
    font-weight: 500;
}