*{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    color: white;
}
#root{
    width: 100vw;
    height: 100vh;

    background-color: rgb(15, 15, 15);

    display: grid;
    align-items: center;
    justify-items: center;
}
ul{
    display:inline;
    text-decoration: none;
}
input{
    color: black;
}
